@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-style: none;
}

.discount-alert {
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

header > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

header > div {
    height: 378px;
    max-height: 378px;
    background: url(background.png) no-repeat   ;
    background-size: cover;
}

.title{}

header {
    margin-bottom: 4vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item-background {
    background-color: #EBE9EA;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-background > img {
    width: 250px;
    height: 150px;
}

footer {
    margin-top: 5vw;
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}