@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-style: none;
}

.discount-alert {
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

header > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

header > div {
    height: 378px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/background.png) no-repeat;
    background-size: cover;
}

/*header > div::before {
    content: "";
    position: absolute;
    height: 378px;
    width: 100%;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,.3) rgba(0,0,0,.3)), url(background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}*/

.title .subtitle {
    margin-top: 20px;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}

header {
    margin-bottom: 4vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDestaques {
    margin-bottom: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item-background {
    background-color: #EBE9EA;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-background > img {
    width: 250px;
    height: 150px;
}

footer {
    margin-top: 5vw;
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}