@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-style: none;
}

.discount-alert {
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

header > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

.header-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.title .subtitle {
    margin-top: 20px;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}

header {
    margin-bottom: 4vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDestaques {
    margin-bottom: 4vw;
    text-align: center;
}

.titleDestaques > p {
    margin: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 10px;
}

.item-background {
    background-color: #EBE9EA;
    width: 310px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-background > img {
    width: 250px;
    height: 150px;
}

footer {
    margin-top: 5vw;
    background-color: #00AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

@media screen and (min-width: 1025px) {
    .header-background {
        height: 50vh;
        width: 100%;
    }

    .header-text {
        margin-left: 6vw;
        width: 34vw;
        gap: 1vw;
    }
}

@media screen and (max-width:480px) {
    .header-background {
        height: 43vh;
        align-items: center;
    }

    .header-text {
        width: 80vw;
    }

}